.dkr-post-footer {
    //border: 1px solid black;
}

.dkr-post-footer-icon, .dkr-comment-footer-icon {
    display: inline-block;
    margin: 0px 5px;
    vertical-align: middle;
}

.dkr-post-footer-link {
    margin: 0px 15px;
    vertical-align: middle;
    display: inline-block;
}

.dkr-comment-rating {
    max-width: 50px;
    display: inline-block;
}

.dkr-comment-body {
    margin: 10px;
    max-width: 80%;
    vertical-align: middle;
    display: inline-block;
}

.dkr-vertical-rating {
    //border: 1px solid black;
}

.dkr-vertical-rating-element {
    display: block;
    text-align: center;
}

.dkr-rating {
    margin: auto;
    color: black;
}

.dkr-plus.dkr-active {
    color: green;
}

.dkr-minus.dkr-active {
    color: red;
}

.dkr-disabled {
    color: lightgrey;
    pointer-events: none;
    cursor: default;
}