{% set url_post = url('get_post', post_id=blogpost.post.id, blog_name=blog.name, slug=blogpost.post.slug) %}
{% set url_post_edit = url('edit_post', post_id=blogpost.post.id, blog_name=blog.name, slug=blogpost.post.slug) %}
{% set url_post_change = url('change_post', post_id=blogpost.post.id, blog_name=blog.name, slug=blogpost.post.slug) %}

{% if post_type != "expanded" %}
    {% set comments_count = post_comments_count[blogpost.post.id] %}
    {% set comments_noun = 'комментариев' %}
    {% if comments_count == 1 %}
        {% set comments_noun = 'комментарий' %}
    {% elif comments_count in (2, 3, 4) %}
        {% set comments_noun = 'комментария' %}
    {% endif %}
{% endif %}

<div class="card {% if blogpost.pinned %}border border-primary{% endif %}">
    <div class="card-body dkr-post row" data-post-id="{{ blogpost.post.id }}">
        <div class="col-md-auto">
            <div class="dkr-vertical-rating">
                {% if not user.is_authenticated %}
                    {% set plus_class = 'dkr-disabled' %}
                    {% set minus_class = 'dkr-disabled' %}
                    {% else %}
                        {% set user_rating = post_ratings[blogpost.post.id]['user_rating'] %}
                        {% if user_rating > 0 %}
                            {% set plus_class = 'dkr-active' %}
                        {% endif %}
                        {% if user_rating < 0 %}
                            {% set minus_class = 'dkr-active' %}
                        {% endif %}
                {% endif %}
                <div class="dkr-vertical-rating-element">
                    <span data-link="{{ url('rate_post', post_id=blogpost.post.id, slug=blogpost.post.slug, rating_sign='plus') }}"
                          class="fa fa-chevron-up dkr-plus {{ plus_class }}"></span>
                </div>
                <div class="dkr-vertical-rating-element">
                    <font class="dkr-rating">{{ post_ratings[blogpost.post.id]['total_rating'] }}</font>
                </div>
                <div class="dkr-vertical-rating-element">
                    <span data-link="{{ url('rate_post', post_id=blogpost.post.id, slug=blogpost.post.slug, rating_sign='minus') }}"
                          class="fa fa-chevron-down dkr-minus {{ minus_class }}"></span>
                </div>
            </div>
        </div>
        <div class="col">
            <h4 class="card-title">
                {% if post_type == "expanded" %}
                    {{ blogpost.post.title }}
                {% else %}
                    <a href="{{ url_post }}">{{ blogpost.post.title }}</a>
                {% endif %}
            </h4>
            {% if blogpost.published_date %}
                <h6>{{ blogpost.published_date.strftime('%d.%m.%Y, %H:%M') }}</h6>
            {% else %}
                <h6>DRAFT</h6>
            {% endif %}

            {% if post_type == "expanded" %}
                <p class="card-text">{{ blogpost.post.text | youtube | expanded | markdown | safe }}</p>
            {% elif post_type == "collapsed" %}
                <p class="card-text">{{ blogpost.post.text | youtube | collapsed(url_post) | markdown | safe }}</p>
            {% else %}
                error: post_type should be either collapsed or expanded
            {% endif %}

            {% if blogpost.post.source_blog and blogpost.post.source_blog.name != blog.name %}
                <p><i>
                    Кросспост из блога <a href="{{ url('blog_posts', blog_name=blogpost.post.source_blog.name) }}">{{ blogpost.post.source_blog.title }}</a>
                </i></p>
            {% endif %}
            {% if post_type == "expanded" %}
                <div class="row">
                    <div class="col align-self-center">
                        {% include "deckard/sharing/panel.html" %}
                    </div>
                </div>
            {% else %}
                <div class="dkr-post-footer-link">
                    <a href="{{ url_post }}">{{ comments_count }} {{ comments_noun }}</a>
                </div>
            {% endif %}
        </div>
        {% if user.is_contributor %}
            <div class="col-md-auto">
                {% include "deckard/post/contributor_panel.html" %}
            </div>
        {% endif %}
    </div>
</div>

<!--kwargs={"post_id": blogpost.post.id, "blog_name": blog.name})-->