{% extends "deckard/base.html" %}
{% block content %}

    <h3>{{ blog.name }}</h3>
    <div>
        <a href="{{ url('add_new_post', blog_name=blog.name) }}" class="btn btn-primary">New post</a>
    </div>
    <br/>
    {% for blogpost in blogposts %}
        {% include "deckard/post.html" %}
        <br/>
    {% endfor %}

    <ul class="pagination">
        <li class="page-item{% if not blogposts.has_previous() %} disabled{% endif %}"><a class="page-link" href="?page=1">First</a></li>
        {% if blogposts.has_previous() %}
        {% if blogposts.previous_page_number() > 1 %}
        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{ blogposts.previous_page_number() }}">{{ blogposts.previous_page_number() }}</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href="#">{{ blogposts.number }}</a></li>
        {% if blogposts.has_next() %}
        <li class="page-item"><a class="page-link" href="?page={{ blogposts.next_page_number() }}">{{ blogposts.next_page_number() }}</a></li>
        {% if blogposts.next_page_number() < blogposts.paginator.num_pages %}
        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
        {% endif %}
        {% endif %}
        <li class="page-item{% if not blogposts.has_next() %} disabled{% endif %}"><a class="page-link" href="?page={{ blogposts.paginator.num_pages }}">Last</a></li>
    </ul>

    {% include "deckard/repost_modal.html" %}
{% endblock %}