{% set url_toggle = url("toggle_comment", post_id=blogpost.post.id, slug=blogpost.post.slug, blog_name=blogpost.blog.name) + "?id=" + comment.id | string %}
{% set url_approve = url_toggle + "&action=approve" %}
{% set url_reject = url_toggle + "&action=reject" %}
{% set url_hide = url_toggle + "&action=hide" %}
{% set hidden_text = "<i>НЛО прилетел и написал это здесь</i>" | safe %}
{% set is_social = comment.author.socialaccount_set.first() %}
{% if is_social %}
    {% set url_social_profile = comment.author.socialaccount_set.first().get_profile_url() %}
    {% set author = ('<a href="' + url_social_profile + '">' + comment.author|string + '</a>')|safe %}
{% else %}
    {% set author = comment.author | string %}
{% endif %}

<div class="card" id="c{{ comment.id }}">
    <div class="card-body">
        <div class="dkr-comment-body">
            <p class="card-text">
                {% if comment.status == "HD" %}
                    {{ hidden_text }}
                {% else %}
                    {{ comment.text }}
                {% endif %}
            </p>
        </div>

    </div>
    <div class="card-footer bg-white border-0 text-muted">
        <div class="dkr-comment-footer">
            <div class="dkr-vertical-rating dkr-comment-footer-icon">
                {% if not user.is_authenticated %}
                    {% set plus_class = 'dkr-disabled' %}
                    {% set minus_class = 'dkr-disabled' %}
                    {% else %}
                        {% set user_rating = comment_ratings[comment.id]['user_rating'] %}
                        {% if user_rating > 0 %}
                            {% set plus_class = 'dkr-active' %}
                        {% endif %}
                        {% if user_rating < 0 %}
                            {% set minus_class = 'dkr-active' %}
                        {% endif %}
                {% endif %}
                <div class="dkr-vertical-rating-element">
                    <span data-link="{{ url('rate_comment', comment_id=comment.id, rating_sign='plus') }}"
                          class="fa fa-chevron-up dkr-plus {{ plus_class }}"></span>
                </div>
                <div class="dkr-vertical-rating-element">
                    <font class="dkr-rating">{{ comment_ratings[comment.id]['total_rating'] }}</font>
                </div>
                <div class="dkr-vertical-rating-element">
                    <span data-link="{{ url('rate_comment', comment_id=comment.id, rating_sign='minus') }}"
                          class="fa fa-chevron-down dkr-minus {{ minus_class }}"></span>
                </div>
            </div>
            <div class="dkr-comment-footer-text">
                <span>Написал {{ author }} в {{ comment.created_date.strftime('%H:%M %d.%m.%Y') }}</span>
            </div>
             <div class="dkr-comment-footer-text">
                <span><a href="#" class="dkr-show-comment-reply-form dkr-ajax-link">Ответить</a></span>
            </div>
            {% if request.user.is_contributor %}
                <div class="dkr-comment-footer-text">
                    <span class="dkr-comment-footer-link">Статус: {{ comment.get_status_display() }}</span>
                </div>
                {% if comment.status == "PN" %}
                <div class="dkr-comment-footer-text">
                    <span><a class="dkr-comment-footer-link" href="{{ url_approve }}">Одобрить</a></span>
                </div>
                <div class="dkr-comment-footer-text">
                    <span><a class="dkr-comment-footer-link" href="{{ url_reject }}">Отклонить</a></span>
                </div>
                {% elif comment.status == "AP" %}
                 <div class="dkr-comment-footer-text">
                    <span><a class="dkr-comment-footer-link" href="{{ url_hide }}">Скрыть</a></span>
                </div>
                {% elif comment.status == "HD" %}
                <div class="dkr-comment-footer-text">
                    <span><a class="dkr-comment-footer-link" href="{{ url_approve }}">Показать</a></span>
                </div>
                {% elif comment.status == "RJ" %}
                <div class="dkr-comment-footer-text">
                    <span><a class="dkr-comment-footer-link" href="{{ url_approve }}">Всё-таки одобрить</a></span>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
