<div class="container">
{% for comment_and_form in comments_and_forms %}
    {% set comment = comment_and_form[0] %}
    {% set form = comment_and_form[1] %}
    {% set maxshift = 2 %}
    {% set shift = comment.position|length - 1 %}
    {% if shift > maxshift %}{% set shift = maxshift %}{% endif %}
    {% set rshift = 12 - shift %}
    <div class="row">
        <div class="col-{{ shift }}"></div>
        <div class="col-{{ rshift }}">
            {% include "deckard/comment.html" %}
            <form method="POST" action="{{ url('add_comment', blog_name=blog.name, post_id=blogpost.post.id) }}">
                {{ form.non_field_errors() }}
                {{ form.text.errors }}
                {{ form.text }}
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="submit" value="Commit" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endfor %}
</div>


