{% set url_toggle = url("toggle_comment", post_id=blogpost.post.id, slug=blogpost.post.slug, blog_name=blogpost.blog.name) + "?id=" + comment.id | string %}
{% set url_approve = url_toggle + "&action=Approved" %}
{% set url_reject = url_toggle + "&action=Rejected" %}
{% set url_hide = url_toggle + "&action=Hidden" %}
{% set hidden_text = "<i>Нло прилетело и написало это здесь</i>" | safe %}

<div class="card">
    <div class="card-body">
        <div class="dkr-comment-body">
            <p class="card-text">
                {% if comment.status == "Hidden" %}
                    {{ hidden_text }}
                {% else %}
                    {{ comment.text }}
                {% endif %}
            </p>
        </div>

    </div>
    <div class="card-footer bg-white border-0 text-muted">
        <div class="dkr-comment-footer">
            <div class="dkr-vertical-rating dkr-comment-footer-icon">
                {% if not user.is_authenticated %}
                    {% set plus_class = 'dkr-disabled' %}
                    {% set minus_class = 'dkr-disabled' %}
                    {% else %}
                        {% set user_rating = comment_ratings[comment.id][0] %}
                        {% if user_rating > 0 %}
                            {% set plus_class = 'dkr-active' %}
                            {% set total_rating_class = 'dkr-positive' %}
                        {% endif %}
                        {% if user_rating < 0 %}
                            {% set minus_class = 'dkr-active' %}
                            {% set total_rating_class = 'dkr-negative' %}
                        {% endif %}
                {% endif %}
                <div class="dkr-vertical-rating-element">
                    <span data-link="{{ url('rate_comment', comment_id=comment.id, rating_sign='plus') }}"
                          class="fa fa-chevron-up dkr-plus {{ plus_class }}"></span>
                </div>
                <div class="dkr-vertical-rating-element">
                    <font class="dkr-rating {{ total_rating_class }}">{{ comment_ratings[comment.id][0] }}</font>
                </div>
                <div class="dkr-vertical-rating-element">
                    <span data-link="{{ url('rate_comment', comment_id=comment.id, rating_sign='minus') }}"
                          class="fa fa-chevron-down dkr-minus {{ minus_class }}"></span>
                </div>
            </div>
            <span>Wrote {{ comment.author }} at {{ comment.created_date.strftime('%H:%M %d.%m.%Y') }}</span>
            <span><a href="#" class="dkr-show-comment-reply-form">Ответить</a></span>
            <span>Status: {{ comment.status }}</span>
            {% if comment.status == "Pending" %}
                <span><a href="{{ url_approve }}">Approve</a></span>
                <span><a href="{{ url_reject }}">Reject</a></span>
            {% elif comment.status == "Approved" %}
                <span><a href="{{ url_hide }}">Hide</a></span>
            {% elif comment.status == "Hidden" %}
                <span><a href="{{ url_approve }}">Reveal</a></span>
            {% elif comment.status == "Rejected" %}
                <span><a href="{{ url_approve }}">Reapprove</a></span>
            {% endif %}
        </div>
    </div>
</div>
