<nav class="navbar navbar-light bg-light">
    <div class="nav navbar-nav navbar-left">
        <a href="{{ url('blog_list') }}">
            <span class="fa fa-home" style="font-size: 20px;"></span>
        </a>
    </div>
    <div class="nav navbar-nav navbar-right">
        <span>
            {% if user.is_authenticated %}
                Привет, {{ user.username }}&nbsp;|&nbsp;<a href="/accounts/logout">До свидания</a>
            {% else %}
                Не знаем, кто вы&nbsp;|&nbsp;<a href="/accounts/login">Представиться</a>
            {% endif %}
        </span>
    </div>
</nav>