<nav class="navbar navbar-light bg-light">
    <div class="nav navbar-nav navbar-left">
        <a href="{{ url('blog_list') }}">
            <span class="fa fa-home" style="font-size: 20px;"></span>
        </a>
    </div>
    <div class="nav navbar-nav navbar-right">
        <span>
            {% if user.is_authenticated %}
                Здравствуйте, {{ user.username }}&nbsp;|&nbsp;<a id="dkr-logout-link" href="#"
                                                                 data-go-to="{{ request.path }}"
                                                                 data-link="/accounts/logout/">До свидания</a>
            {% else %}
                Не знаем, кто вы | <a id="dkr-login-link" class="dkr-dotted-link" data-html="true"
                                      data-toggle="popover"
                                      data-placement="auto"
                                      title="Выберите способ авторизации" data-trigger="focus"
                                      data-content="<ul><li><a href='/accounts/vk/login?next={{ request.path }}'>VK</a></li><li>
                                                <a href='/accounts/facebook/login?next={{ request.path }}'>Facebook</a></li></ul>"
                                      href="#">Представиться</a>
            {% endif %}
        </span>
    </div>
</nav>