{% set url_post = url('get_post', post_id=blogpost.post.id, slug=blogpost.post.slug, blog_name=blog.name) %}

<div class="card {% if blogpost.pinned %}border border-primary{% endif %}">
    <div class="card-body dkr-post" data-post-id="{{ blogpost.post.id }}">
        <h4 class="card-title">{{ blogpost.post.title }}</h4>
        {% if blogpost.published_date %}
        <h6>{{ blogpost.published_date.strftime('%d.%m.%Y, %H:%M') }}</h6>
        {% else %}
        <h6>DRAFT</h6>
        {% endif %}

        {% if post_type == "expanded" %}
            <p class="card-text">{{ blogpost.post.text | youtube | expanded | safe }}</p>
        {% elif post_type == "collapsed" %}
            <p class="card-text">{{ blogpost.post.text | youtube | collapsed(url('get_post', post_id=blogpost.post.id, slug=blogpost.post.slug, blog_name=blog.name)) | safe }}</p>
        {% else %}
            error: post_type should be either collapsed or expanded
        {% endif %}

        {% if blogpost.post.source_blog.name != blog.name %}
        <p><i>Stolen from blog {{ blogpost.post.source_blog.name }}</i></p>
        {% endif %}
        {% if post_type == "expanded" %}
        <div class="row">
            <div class="col align-self-center">
                {% include "deckard/sharing/panel.html" %}
            </div>
        </div>
        {% endif %}
        <div class="dkr-post-footer text-muted">
            <div class="dkr-vertical-rating dkr-post-footer-icon">
                {% if not user.is_authenticated %}
                    {% set plus_class = 'dkr-disabled' %}
                    {% set minus_class = 'dkr-disabled' %}
                    {% else %}
                        {% set user_rating = post_ratings[blogpost.post.id][0] %}
                        {% if user_rating > 0 %}
                            {% set plus_class = 'dkr-active' %}
                            {% set total_rating_class = 'dkr-positive' %}
                        {% endif %}
                        {% if user_rating < 0 %}
                            {% set minus_class = 'dkr-active' %}
                            {% set total_rating_class = 'dkr-negative' %}
                        {% endif %}
                {% endif %}
                <div class="dkr-vertical-rating-element">
                    <span data-link="{{ url('rate_post', post_id=blogpost.post.id, slug=blogpost.post.slug, rating_sign='plus') }}"
                          class="fa fa-chevron-up dkr-plus {{ plus_class }}"></span>
                </div>
                <div class="dkr-vertical-rating-element">
                    <font class="dkr-rating {{ total_rating_class }}">{{ post_ratings[blogpost.post.id][0] }}</font>
                </div>
                <div class="dkr-vertical-rating-element">
                    <span data-link="{{ url('rate_post', post_id=blogpost.post.id, slug=blogpost.post.slug, rating_sign='minus') }}"
                          class="fa fa-chevron-down dkr-minus {{ minus_class }}"></span>
                </div>
            </div>
            <div class="dkr-post-footer-link">
                <a href="{{ url_post }}">Read moar</a>
            </div>
            {% if user_is_contributor %}
            <div class="dkr-post-footer-link">
                <a href="{{ url('edit_post', post_id=blogpost.post.id, slug=blogpost.post.slug, blog_name=blog.name) }}">Edit</a>
            </div>
            <div class="dkr-post-footer-link">
                <a href="{{ url('delete_post', post_id=blogpost.post.id, slug=blogpost.post.slug, blog_name=blog.name) }}">Delete</a>
            </div>
            <div class="dkr-post-footer-icon">
                <a href="#repostModal" data-toggle="modal" data-blog-name="{{ blog.name }}"
                   data-post-id="{{ blogpost.post.id }}"
                   data-link="{{ url('repost', post_id=blogpost.post.id, slug=blogpost.post.slug) }}">
                    <span class=" fa fa-share-alt"></span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!--kwargs={"post_id": blogpost.post.id, "blog_name": blog.name})-->