{% set url_post = url('get_post', post_id=blogpost.post.id, blog_name=blog.name) %}
{% set url_post_edit = url('edit_post', post_id=blogpost.post.id, blog_name=blog.name) %}
{% set url_post_delete = url('change_post', post_id=blogpost.post.id, blog_name=blog.name) + "?action=delete" %}
{% set url_post_publish = url('change_post', post_id=blogpost.post.id, blog_name=blog.name) + "?action=publish" %}

<div class="card {% if blogpost.pinned %}border border-primary{% endif %}">
    <div class="card-body dkr-post row" data-post-id="{{ blogpost.post.id }}">
        <div class="col-md-auto">
            <div class="dkr-vertical-rating">
                {% if not user.is_authenticated %}
                    {% set plus_class = 'dkr-disabled' %}
                    {% set minus_class = 'dkr-disabled' %}
                    {% else %}
                        {% set user_rating = post_ratings[blogpost.post.id][0] %}
                        {% if user_rating > 0 %}
                            {% set plus_class = 'dkr-active' %}
                            {% set total_rating_class = 'dkr-positive' %}
                        {% endif %}
                        {% if user_rating < 0 %}
                            {% set minus_class = 'dkr-active' %}
                            {% set total_rating_class = 'dkr-negative' %}
                        {% endif %}
                {% endif %}
                <div class="dkr-vertical-rating-element">
                    <span data-link="{{ url('rate_post', post_id=blogpost.post.id, rating_sign='plus') }}"
                          class="fa fa-chevron-up dkr-plus {{ plus_class }}"></span>
                </div>
                <div class="dkr-vertical-rating-element">
                    <font class="dkr-rating {{ total_rating_class }}">{{ post_ratings[blogpost.post.id][0] }}</font>
                </div>
                <div class="dkr-vertical-rating-element">
                    <span data-link="{{ url('rate_post', post_id=blogpost.post.id, rating_sign='minus') }}"
                          class="fa fa-chevron-down dkr-minus {{ minus_class }}"></span>
                </div>
            </div>
        </div>
        <div class="col">
            <h4 class="card-title">
                {% if post_type == "expanded" %}
                    {{ blogpost.post.title }}
                {% else %}
                    <a href="{{ url_post }}">{{ blogpost.post.title }}</a>
                {% endif %}
            </h4>
            {% if blogpost.published_date %}
            <h6>{{ blogpost.published_date.strftime('%d.%m.%Y, %H:%M') }}</h6>
            {% else %}
            <h6>DRAFT</h6>
            {% endif %}

            {% if post_type == "expanded" %}
                <p class="card-text">{{ blogpost.post.text | youtube | expanded | safe }}</p>
            {% elif post_type == "collapsed" %}
                <p class="card-text">{{ blogpost.post.text | youtube | collapsed(url_post) | safe }}</p>
            {% else %}
                error: post_type should be either collapsed or expanded
            {% endif %}

            {% if blogpost.post.source_blog.name != blog.name %}
            <p><i>Stolen from blog {{ blogpost.post.source_blog.name }}</i></p>
            {% endif %}
        </div>
        <div class="col-md-auto">
            {% include "deckard/post_contributor_panel.html" %}
        </div>
    </div>
</div>