<div class="card"><div class="card-body">
    {% if blogpost.post.hidden %}
        <span class="text-muted">Скрыть пост</span><br/>
        <a href="{{ url_post_publish }}">Опубликовать пост</a><br/>
    {% else %}
        <a class="text-primary" href="{{ url_post_delete }}">Скрыть пост</a><br/>
        <span class="text-muted">Опубликовать пост</span><br/>
    {% endif %}
    <a class="text-primary" href="{{ url_post_edit }}">Редактировать пост</a><br/>
    <a class="text-primary" href="#repostModal" data-toggle="modal" data-blog-name="{{ blog.name }}"
                       data-post-id="{{ blogpost.post.id }}"
                       data-link="{{ url('repost', post_id=blogpost.post.id) }}">
                    Забрать в блог</a><br/>
</div></div>