<div class="modal fade" id="repostModal" tabindex="-1" role="dialog" aria-labelledby="repostModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="repostModalLabel">Spread the word!</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="formControlSelectBlogs">Choose the blogs to repost to:</label>
                        <select multiple class="form-control" id="formControlSelectBlogs">
                            {% for blog in blogs %}
                            <option name="blog_name" value="{{ blog.name }}">{{ blog.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input id="csrf" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="modalRepostButton" data-link="#"
                        data-go-to="{{ url('blog_list') }}">Repost
                </button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>
