{% set footer_style = "background-image: url(\"" ~ static('deckard/images/default_footer.png') ~ "\");" %}
<nav class="navbar navbar-light dkr-margin-top" style="{{ footer_style }}">
    <div class="nav navbar-nav navbar-left">
    </div>
    <div class="nav navbar-nav navbar-right">
        <span class="text-right">
            <a href="mailto:admin@mundep.com?subject=Всё очень плохо">Связаться с разработчиками</a>
        </span>
        <span class="text-right text-muted">
            powered by d3ckrd v0.01
        </span>
    </div>
</nav>