{% set url_toggle = url("toggle_comment", post_id=blogpost.post.id, slug=blogpost.post.slug, blog_name=blogpost.blog.name) + "?id=" + comment.id | string %}
{% set url_approve = url_toggle + "&action=approve" %}
{% set url_reject = url_toggle + "&action=reject" %}
{% set url_hide = url_toggle + "&action=hide" %}
{% set hidden_text = "(Комментарий скрыт)" | safe %}
{% set is_social = comment.author.socialaccount_set.first() %}
{% if is_social %}
{% set url_social_profile = comment.author.socialaccount_set.first().get_profile_url() %}
{% set author = ('<a href="' + url_social_profile + '">' + comment.author|string + '</a>')|safe %}
{% else %}
{% set author = comment.author | string %}
{% endif %}

{% if comment.status == "PN" %}
{% set comment_style = "background-image: url(\"" ~ static('deckard/images/draft.png') ~ "\");" %}
{% elif comment.status == "RJ" %}
{% set comment_style = "background-image: url(\"" ~ static('deckard/images/rejected.png') ~ "\");" %}
{% endif %}

<div id="c{{ comment.id }}">
    <div class="mt-1 mb-1 p-2 d-flex flex-row" {% if comment_style %}style="{{ comment_style }}" {% endif %}>
        <div class="pr-1 dkr-col-rating align-self-end">
            <div class="pr-1 d-flex flex-column align-items-center">
                {% if not user.is_authenticated %}
                {% set plus_class = 'dkr-disabled' %}
                {% set minus_class = 'dkr-disabled' %}
                {% else %}
                {% set user_rating = comment_ratings[comment.id]['user_rating'] %}
                {% if user_rating > 0 %}
                {% set plus_class = 'dkr-active' %}
                {% endif %}
                {% if user_rating < 0 %}
                {% set minus_class = 'dkr-active' %}
                {% endif %}
                {% endif %}
                <span
                    data-link="{{ url('rate_comment', comment_id=comment.id, rating_sign='plus') }}"
                    class="fa fa-chevron-up dkr-plus dkr-comment-rating-icon {{ plus_class }}">
                </span>
                <font class="dkr-rating">{{ comment_ratings[comment.id]['total_rating'] }}</font>
                <span data-link="{{ url('rate_comment', comment_id=comment.id, rating_sign='minus') }}"
                      class="fa fa-chevron-down dkr-minus dkr-comment-rating-icon {{ minus_class }}">
                </span>
            </div>
        </div>
        <div class="ml-2 d-flex flex-column">
            {% if user.is_contributor and comment.status == "HD" %}
            <div>
                <p class="card-text text-muted">
                    {{ comment.text }}
                </p>
            </div>
            {% endif %}
            <div>
                <p class="card-text">
                    {% if comment.status == "HD" %}
                    <i>{{ hidden_text }}</i>
                    {% else %}
                    {{ comment.text }}
                    {% endif %}
                </p>
            </div>
            <div class="mt-auto">
                <div class="text-muted">
                    <span>Написал{% if not comment.is_male %}а{% endif %} {{ author }} в {{ comment.created_date.strftime('%H:%M, %d.%m.%Y') }}</span>
                    {% if user.is_authenticated %}
                        <span><a href="#" class="ml-2 dkr-show-comment-reply-form dkr-ajax-link">Ответить</a></span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="ml-auto">
            {% if user.is_contributor %}
            {% include "deckard/comment/contributor_panel.html" %}
            {% endif %}
        </div>
    </div>
</div>
