<div class="pl-2 pr-2 pt-1 pb-1 m-1 dkr-contributor-panel">
    <div class="d-flex flex-column">
        {% if comment.status == "PN" or comment.status == "RJ" %}
            <a class="dkr-comment-footer-link" href="{{ url_approve }}">Одобрить</a>
        {% endif %}
        {% if comment.status == "PN" %}
            <a class="dkr-comment-footer-link" href="{{ url_reject }}">Отклонить</a>
        {% elif comment.status == "AP" %}
            <a class="dkr-comment-footer-link" href="{{ url_hide }}">Скрыть</a>
        {% elif comment.status == "HD" %}
            <a class="dkr-comment-footer-link" href="{{ url_approve }}">Показать</a>
        {% endif %}
    </div>
</div>