<div class="card border-0 dkr-contributor-panel">
    <div class="card-body d-flex flex-column">
        {% if comment.status == "PN" or comment.status == "RJ" %}
        <div class="dkr-comment-footer-text">
            <span><a class="dkr-comment-footer-link" href="{{ url_approve }}">Одобрить</a></span>
        </div>
        {% endif %}
        {% if comment.status == "PN" %}
        <div class="dkr-comment-footer-text">
            <span><a class="dkr-comment-footer-link" href="{{ url_reject }}">Отклонить</a></span>
        </div>
        {% elif comment.status == "AP" %}
        <div class="dkr-comment-footer-text">
            <span><a class="dkr-comment-footer-link" href="{{ url_hide }}">Скрыть</a></span>
        </div>
        {% elif comment.status == "HD" %}
        <div class="dkr-comment-footer-text">
            <span><a class="dkr-comment-footer-link" href="{{ url_approve }}">Показать</a></span>
        </div>
        {% endif %}
    </div>
</div>