{% for comment_and_form in comments_and_forms %}
    {% set comment = comment_and_form[0] %}
    {% set form = comment_and_form[1] %}
    {% set shift = comment.position|length - 1 %}
    {% if shift > maxshift %}{% set shift = maxshift %}{% endif %}
    {% set rshift = 12 - shift %}
    {% if comment.status == "AP" or comment.status == "HD" or user.is_contributor or comment.author == user %}
        <div class="d-flex flex-column dkr-comment-block">
            <div class="comment-indent-{{ shift }}">
                {% include "deckard/comment/comment.html" %}
                {% include "deckard/comment/reply_form.html" %}
            </div>
        </div>
    {% endif %}
{% endfor %}


