<div class="container">
{% for comment_and_form in comments_and_forms %}
    {% set comment = comment_and_form[0] %}
    {% set form = comment_and_form[1] %}
    {% set shift = comment.position|length - 1 %}
    {% if shift > maxshift %}{% set shift = maxshift %}{% endif %}
    {% set rshift = 12 - shift %}
    <div class="row dkr-comment-block">
        <div class="col-{{ shift }}"></div>
        <div class="col-{{ rshift }}">
            {% include "deckard/comment/comment.html" %}
            {% include "deckard/comment/reply_form.html" %}
        </div>
    </div>
{% endfor %}
</div>


