{% set blog = blog_and_names[0] %}
{% set contributors = blog_and_names[1] %}
{% set url_blog = url('blog_posts', blog_name=blog.name) %}

<div class="card border-0">
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                {% if blog.avatar %}
                <img class="dkr-avatar" src="{{ blog.avatar.url }}">
                {% endif %}
            </div>
            <div class="col-10">
                <h4 class="card-title"><a href="{{ url_blog }}">{{ blog.title }}</a></h4>
                {% if  blog.subtitle %}
                    <h6 class="card-subtitle text-muted">{{ blog.subtitle }}</h6>
                {% endif %}

                {% if contributors %}
                Блог ведут: {{ contributors | join(', ') }}.<br/>
                {% else %}
                У блога пока нет авторов.
                {% endif %}

                {% if blog.name in user_blog_names %}
                    <h6 class="card-text dkr-contributor-panel">Вы — автор</h6>
                {% endif %}
            </div>
        </div>
    </div>
</div>