* {
    font-family: "PT Serif", "Times New Roman", Georgia, serif;
}

.dkr-disabled {
    color: LightGray;
    pointer-events: none;
    cursor: default;
}

.dkr-avatar {
    max-width: 200px;
    height: auto;
}

a {
    text-decoration: underline;
    color: CornflowerBlue;
}

a.dkr-ajax-link, a.dkr-change-post-link {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.dkr-margin-top {
    margin-top: 20px;
}

.dkr-margin-bottom {
    margin-bottom: 20px;
}

.dkr-padding-top {
    padding-top: 20px;
}

.dkr-padding-bottom {
    padding-bottom: 20px;
}

a.dkr-icon-link {
    text-decoration: none;
}

a .dkr-colored-icon {
    color: Grey;
}

a:hover .dkr-colored-icon {
    color: Black;
}

h1 { font-size: 1.9em;}
h2 { font-size: 1.2em;}
h3 { font-size: 1.2em;}
h4 { font-size: 1.2em;}
h5 { font-size: 1.1em;}
h6 { font-size: 1em;}

/* Pinned --> */
.dkr-post-card-pinned {
    background-color: LightYellow;
    border-color: Gold;
}

.dkr-pinned-icon {
    color: Gold;
    font-size: 0.9em;
}
/* <-- Pinned */

/* Contributor-visible controls --> */
.dkr-contributor-panel {
    background-color: LemonChiffon;
    border-radius: 0px;

}

.dkr-contributor-panel > .card-body {
    padding: 0px 15px 5px 15px;
}

.dkr-contributor-button {
    background-color: LemonChiffon;
    margin-bottom: 10px;
}
/* <-- Contributor-visible controls */

/* Posts and comments --> */
.dkr-btn-reply {
    margin: 5px 0px;
}

.dkr-reply-form {
    margin: 10px 0px 0px 0px;
}

.dkr-post {
    padding: 0px;
}

.dkr-post-bottom-border {
    margin-bottom: 15px;
    border-bottom: 1px solid LightGrey;
}

.dkr-post-footer-icon, .dkr-comment-footer-icon {
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

.dkr-post-footer-link, .dkr-comment-footer-text {
    margin-right: 15px;
    vertical-align: middle;
    display: inline-block;
}

.dkr-vertical-rating {
}

.dkr-vertical-rating-element {
    display: block;
    text-align: center;
}

.dkr-rating {
    margin: auto;
    color: black;
}

.dkr-minus, .dkr-plus {
    font-size: 1.2em;
}

.dkr-plus.dkr-active, .dkr-plus:active, .dkr-rating.dkr-positive {
    color: LimeGreen;
}

.dkr-minus.dkr-active, .dkr-minus:active, .dkr-rating.dkr-negative {
    color: Crimson;
}

.dkr-plus:hover, .dkr-minus:hover {
    color: DimGray;
    cursor: pointer;
}

.dkr-comment-body {
    padding: 0px;
}

.dkr-comment-body-text {

    margin-left: 15px;
}

.dkr-col-rating {
    padding: 0px 3px 0px 0px;
    border-right: 1px solid LightGrey;
}
/* <-- Posts and comments */

.col {
    padding: 5px;
}

hr {
    margin-top: 0px;
}

.comment-indent-1 {
    padding-left: 28px;
}

.comment-indent-2 {
    padding-left: 56px;
}

.comment-indent-3 {
    padding-left: 84px;
}

.comment-indent-4 {
    padding-left: 112px;
}

.comment-indent-5 {
    padding-left: 140px;
}

.comment-indent-6 {
    padding-left: 168px;
}

.comment-indent-7 {
    padding-left: 196px;
}

.comment-indent-8 {
    padding-left: 196px;
}

.comment-indent-9 {
    padding-left: 224px;
}

.comment-indent-10 {
    padding-left: 252px;
}

.comment-indent-11 {
    padding-left: 280px;
}

.comment-indent-12 {
    padding-left: 308px;
}
